@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

:host {
  display: block;
  min-width: 100vh;
}

.app {
  margin: 0 auto;
  padding: 2.5rem 1rem 3rem;
}

.titleHeader {
  margin-bottom: 1.5rem;
  text-align: center;

  h1 {
    margin: 0 0 0.4rem;
    font-size: clamp(2rem, 5vw, 2.6rem);
    line-height: 1.1;
  }
}

.subtitle {
  margin: 0;
  color: $text-muted;
  font-size: 1rem;
}

.progress-meta {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.55rem;
  color: $text-muted;
  font-size: 1.3rem;
}

.loading {
  margin: 0 0 1rem;
  padding: 1rem;
  border: 1px;
  border-radius: $text-muted;
  color: $text-muted;
  text-align: center;
}

.again {
  margin-top: 1rem;
  border-radius: 12px;
  cursor: pointer;

  padding: 0.8rem 1.5rem;
  background-color: #3b82f6;
  border: none;
  font-weight: bold;
}
